@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
* {
    font-family:'Gabriela';
    font-style: normal;
    color: white;
}

body {background-color:black;}

.content {
    width: 100%;
    max-width: 1372px;
    margin: 0 auto;
}

header.principal picture {
    display:flex;
}

header.principal picture div.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
}

main.botoes {
    width: 100%;
    display:flex;
}
main.botoes div.ou {
    font-size: xx-large;
    justify-content: center;
}

footer.piano {
    width: 100%;
    display: flex;
}

header.icone div.icone_home {
    width: 10%;
    display: flex;
    justify-content: left;
}

main.cadastro {
    width: 100%;
    display: flex;
}

main.cadastro div.fundo{
    justify-content: center;
}

main.cadastro div.criar_conta {
    width: 100%;
}

header.login div.icone_home {
    width: 10%;
    display: flex;
    justify-content: left;
}

main.fundo div.fundo {
    width: 100%;
    display:flex;
    justify-content: center;
}